@model IEnumerable<TravelApp.Models.TravelHeader>

@{
    ViewBag.Title = "ShowDetails";
}

<h2>ShowDetails</h2>
<td>
    @Html.ActionLink("Add to Travel Details", "TravelDetails") 
</td>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TravelReson)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TravellingFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TravellingToDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExplainationTravel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TravellingDetails)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TravelReson)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TravellingFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TravellingToDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExplainationTravel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TravellingDetails)
        </td>
        <td>
            @Html.ActionLink("Show PreDetails", "ShowPreDetails", new { id=item.Id }) |
            @Html.ActionLink("Edit Travel Details", "EditTravelDetails", new { id=item.Id }) |
            @Html.ActionLink("Delete Travel Details", "DeleteTravelDetails", new { id=item.Id }) |          
        </td>
    </tr>
}

</table>
